.ad_image {
    width: 350px;
    height: auto;
}

.ad_image_show_page {
	width: 250px;
}

.aboutPargraph {
	width: 200px;
}

.page-header {
	text-align: center;
	color: purple;
}

a, h1 {
	color: purple;
}